
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Musteri Adı:</label>
        <input type="TEXT" class="form-control" name="MUSTERIAD">
        <label>Musteri Soyadı:</label>
        <input type="TEXT" class="form-control" name="MUSTERISOYAD">
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ekle</button>
    </div>
</form>


